.ql-snow.ql-toolbar a, .ql-snow .ql-toolbar a {
    background: 0 0;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    padding: 3px 5px;
    width: 28px;
}

#toolbar-container,
#editor-container {
    border: none;
}

#toolbar-container{
    position: fixed; 
    background: white;
    background: linear-gradient(90deg, lightgrey 0%, white 3%, white 97%, lightgrey 100%);
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0; /* or width:100vw; */
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    height: min-content;
}

.ql-formats:last-child {
    margin-right: 3% !important; /* background gradient */
}

.ql-formats:first-child {
    margin-left: 3% !important; /* background gradient */
}

.ql-editor.ql-blank::before {
    left: unset !important;
    right: unset !important;
}

.ql-formats{
    height: min-content;
    border: 1px solid #ccc;
}

#toolbar-container > .spacer{
    margin: auto;
    display: inline-block;
    width: 2rem;
}

#editor-container .ql-editor {
    font-size: 1rem;
}

#editor-container {
    padding: 3rem;
    width: min-content;
    min-width: 100%;
}

.footer svg{
    height: 2rem;
    width: 2rem;
    padding: 10px;
}

.footer a {
    display: block;
}

.footer {
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  border: 1px solid black;
  margin: 1rem;
  border-radius: 50%;
  display: inline-block;
}

#main-content.readonly .ql-blank::before {
    display: none;
}

#main-content.readonly #toolbar-container {
    display: none;
}

#main-content.readonly .ql-editor>*{ 
    cursor: default !important;
}

#main-content.readonly #editor-container {	
    min-height: 100vh;	
}


#main-content.readwrite .footer {
    display: none;
}

#main-content.readwrite #content-container {
    padding-top: 3rem;
    padding-bottom: 100vh;
}

@media print {
    #toolbar-container,
    .ql-blank::before,
    .footer {
        display: none !important;
    }

    #content-container {
        padding: 0 !important;
    }
}




.ql-editor ol, .ql-editor ul {
    padding-left:1em;
}
.ql-editor ol li:not(.ql-direction-rtl), .ql-editor ul li:not(.ql-direction-rtl) {
    padding-left:1em;
}
.ql-editor .ql-indent-1:not(.ql-direction-rtl){
    padding-left:2em
}
.ql-editor li.ql-indent-1:not(.ql-direction-rtl){
    padding-left:3em
}
.ql-editor .ql-indent-2:not(.ql-direction-rtl){
    padding-left:4em
}
.ql-editor li.ql-indent-2:not(.ql-direction-rtl){
    padding-left:5em
}
.ql-editor .ql-indent-3:not(.ql-direction-rtl){
    padding-left:6em
}
.ql-editor li.ql-indent-3:not(.ql-direction-rtl){
    padding-left:7em
}
.ql-editor .ql-indent-4:not(.ql-direction-rtl){
    padding-left:8em
}
.ql-editor li.ql-indent-4:not(.ql-direction-rtl){
    padding-left:9em
}
.ql-editor .ql-indent-5:not(.ql-direction-rtl){
    padding-left:10em
}
.ql-editor li.ql-indent-5:not(.ql-direction-rtl){
    padding-left:11em
}
.ql-editor .ql-indent-6:not(.ql-direction-rtl){
    padding-left:12em
}
.ql-editor li.ql-indent-6:not(.ql-direction-rtl){
    padding-left:13em
}
.ql-editor .ql-indent-7:not(.ql-direction-rtl){
    padding-left:14em
}
.ql-editor li.ql-indent-7:not(.ql-direction-rtl){
    padding-left:15em
}
.ql-editor .ql-indent-8:not(.ql-direction-rtl){
    padding-left:16em
}
.ql-editor li.ql-indent-8:not(.ql-direction-rtl){
    padding-left:17em
}
.ql-editor .ql-indent-9:not(.ql-direction-rtl){
    padding-left:18em
}
.ql-editor li.ql-indent-9:not(.ql-direction-rtl){
    padding-left:19m
}

.ql-snow.ql-toolbar a:hover .ql-fill, .ql-snow .ql-toolbar a:hover .ql-fill, .ql-snow.ql-toolbar a:focus .ql-fill, .ql-snow .ql-toolbar a:focus .ql-fill, .ql-snow.ql-toolbar a:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar a:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar a:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar a:focus .ql-stroke.ql-fill {
    fill: #06c;
}

#sync-button,
#sync-button.runnning,
#sync-button.neutral {
    fill: black;
}

#sync-button.error {
    fill: red;
}

#sync-button.offline {
    fill: dimgray;
}

#sync-button.success {
    fill: forestgreen;
}

#sync-button .bar {
    opacity: 0;
    stroke: red;
    stroke-width: 3;
}

#sync-button.offline .bar {
    opacity: 1;
}

#sync-button.running {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
