#toolbar-container,
#editor-container {
    border: none;
}

#toolbar-container{
    position: fixed; 
    background: white;
    background: linear-gradient(90deg, lightgrey 0%, white 3%, white 97%, lightgrey 100%);
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0; /* or width:100vw; */
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    height: min-content;
}

.ql-formats:last-child {
    margin-right: 3% !important; /* background gradient */
}

.ql-formats:first-child {
    margin-left: 3% !important; /* background gradient */
}

.ql-editor.ql-blank::before {
    left: unset !important;
    right: unset !important;
}

.ql-formats{
    height: min-content;
    border: 1px solid #ccc;
}

#toolbar-container > .spacer{
    margin: auto;
    display: inline-block;
    width: 2rem;
}

#editor-container .ql-editor {
    font-size: 1.5rem;
}

#editor-container {
    min-height: 100%;
    padding: 3rem;
}

#content-container {
    min-height: 100%;
}

#main-content.readonly .ql-blank::before {
    display: none;
}

#main-content.readonly #toolbar-container {
    display: none;
}

#main-content.readonly .ql-editor>*{ 
    cursor: default !important;
}



#main-content.readwrite .footer {
    display: none;
}

#main-content.readwrite #content-container {
    padding-top: 3rem;
}

@media print {
    #toolbar-container,
    .ql-blank::before,
    .footer {
        display: none !important;
    }

    #content-container {
        padding-top: 0;
    }
}